@font-face { 
			 src: url('../fonts/AboveDemoRegular-lJMd.ttf');
			 font-family: vito; 
			}
@font-face {
	src: url('../fonts/PermanentMarker-Regular.ttf');
	font-family: per;
}

@font-face {
	src: url('../fonts/FrancoisOne-Regular.ttf');
	font-family: fra;
}